{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
